bin/go-symbols.exe
.vscode/launch.json
.vscode/settings.json
bin/dlv.exe
bin/dlv.exe.bak
bin/go-outline.exe
bin/gocode.exe
bin/godef.exe
bin/gopkgs.exe
bin/gorename.exe
bin/goreturns.exe
bin/guru.exe
pkg/windows_amd64/
src/github.com/
src/golang.org/
bin/gocode-gomod.exe
