bin/go-symbols.exe
.vscode/launch.json
.vscode/settings.json
bin/dlv.exe
bin/dlv.exe.bak
bin/go-outline.exe
bin/gocode.exe
bin/godef.exe
bin/gopkgs.exe
bin/gorename.exe
bin/goreturns.exe
bin/guru.exe
pkg/windows_amd64/github.com/go-delve/delve/service.a
pkg/windows_amd64/github.com/go-delve/delve/cmd/dlv/cmds.a
pkg/windows_amd64/github.com/go-delve/delve/pkg/config.a
pkg/windows_amd64/github.com/go-delve/delve/pkg/goversion.a
pkg/windows_amd64/github.com/go-delve/delve/pkg/logflags.a
pkg/windows_amd64/github.com/go-delve/delve/pkg/proc.a
pkg/windows_amd64/github.com/go-delve/delve/pkg/terminal.a
pkg/windows_amd64/github.com/go-delve/delve/pkg/version.a
pkg/windows_amd64/github.com/go-delve/delve/pkg/dwarf/frame.a
pkg/windows_amd64/github.com/go-delve/delve/pkg/dwarf/godwarf.a
pkg/windows_amd64/github.com/go-delve/delve/pkg/dwarf/line.a
pkg/windows_amd64/github.com/go-delve/delve/pkg/dwarf/op.a
pkg/windows_amd64/github.com/go-delve/delve/pkg/dwarf/reader.a
pkg/windows_amd64/github.com/go-delve/delve/pkg/dwarf/util.a
pkg/windows_amd64/github.com/go-delve/delve/pkg/proc/core.a
pkg/windows_amd64/github.com/go-delve/delve/pkg/proc/gdbserial.a
pkg/windows_amd64/github.com/go-delve/delve/pkg/proc/linutil.a
pkg/windows_amd64/github.com/go-delve/delve/pkg/proc/native.a
pkg/windows_amd64/github.com/go-delve/delve/pkg/proc/winutil.a
pkg/windows_amd64/github.com/go-delve/delve/pkg/proc/core/minidump.a
pkg/windows_amd64/github.com/go-delve/delve/service/api.a
pkg/windows_amd64/github.com/go-delve/delve/service/debugger.a
pkg/windows_amd64/github.com/go-delve/delve/service/rpc1.a
pkg/windows_amd64/github.com/go-delve/delve/service/rpc2.a
pkg/windows_amd64/github.com/go-delve/delve/service/rpccommon.a
pkg/windows_amd64/github.com/go-delve/delve/vendor/github.com/cosiner/argv.a
pkg/windows_amd64/github.com/go-delve/delve/vendor/github.com/inconshreveable/mousetrap.a
pkg/windows_amd64/github.com/go-delve/delve/vendor/github.com/mattn/go-colorable.a
pkg/windows_amd64/github.com/go-delve/delve/vendor/github.com/mattn/go-isatty.a
pkg/windows_amd64/github.com/go-delve/delve/vendor/github.com/peterh/liner.a
pkg/windows_amd64/github.com/go-delve/delve/vendor/github.com/sirupsen/logrus.a
pkg/windows_amd64/github.com/go-delve/delve/vendor/github.com/spf13/cobra.a
pkg/windows_amd64/github.com/go-delve/delve/vendor/github.com/spf13/pflag.a
pkg/windows_amd64/github.com/go-delve/delve/vendor/golang.org/x/arch/x86/x86asm.a
pkg/windows_amd64/github.com/go-delve/delve/vendor/golang.org/x/crypto/ssh/terminal.a
pkg/windows_amd64/github.com/go-delve/delve/vendor/golang.org/x/sys/windows.a
pkg/windows_amd64/github.com/go-delve/delve/vendor/gopkg.in/yaml.v2.a
pkg/windows_amd64/github.com/karrick/godirwalk.a
pkg/windows_amd64/github.com/mdempsky/gocode/internal/cache.a
pkg/windows_amd64/github.com/mdempsky/gocode/internal/gbimporter.a
pkg/windows_amd64/github.com/mdempsky/gocode/internal/lookdot.a
pkg/windows_amd64/github.com/mdempsky/gocode/internal/suggest.a
pkg/windows_amd64/github.com/pkg/errors.a
pkg/windows_amd64/github.com/rogpeppe/godef/go/ast.a
pkg/windows_amd64/github.com/rogpeppe/godef/go/parser.a
pkg/windows_amd64/github.com/rogpeppe/godef/go/printer.a
pkg/windows_amd64/github.com/rogpeppe/godef/go/scanner.a
pkg/windows_amd64/github.com/rogpeppe/godef/go/token.a
pkg/windows_amd64/github.com/rogpeppe/godef/go/types.a
pkg/windows_amd64/github.com/rogpeppe/godef/vendor/9fans.net/go/acme.a
pkg/windows_amd64/github.com/rogpeppe/godef/vendor/9fans.net/go/draw.a
pkg/windows_amd64/github.com/rogpeppe/godef/vendor/9fans.net/go/plan9.a
pkg/windows_amd64/github.com/rogpeppe/godef/vendor/9fans.net/go/draw/drawfcall.a
pkg/windows_amd64/github.com/rogpeppe/godef/vendor/9fans.net/go/plan9/client.a
pkg/windows_amd64/github.com/rogpeppe/godef/vendor/golang.org/x/tools/go/gcexportdata.a
pkg/windows_amd64/github.com/rogpeppe/godef/vendor/golang.org/x/tools/go/packages.a
pkg/windows_amd64/github.com/rogpeppe/godef/vendor/golang.org/x/tools/go/ast/astutil.a
pkg/windows_amd64/github.com/rogpeppe/godef/vendor/golang.org/x/tools/go/internal/cgo.a
pkg/windows_amd64/github.com/rogpeppe/godef/vendor/golang.org/x/tools/go/internal/gcimporter.a
pkg/windows_amd64/github.com/rogpeppe/godef/vendor/golang.org/x/tools/internal/fastwalk.a
pkg/windows_amd64/github.com/rogpeppe/godef/vendor/golang.org/x/tools/internal/gopathwalk.a
pkg/windows_amd64/github.com/rogpeppe/godef/vendor/golang.org/x/tools/internal/semver.a
pkg/windows_amd64/github.com/sqs/goreturns/returns.a
pkg/windows_amd64/github.com/uudashr/gopkgs.a
pkg/windows_amd64/golang.org/x/tools/imports.a
pkg/windows_amd64/golang.org/x/tools/cmd/guru/serial.a
pkg/windows_amd64/golang.org/x/tools/container/intsets.a
pkg/windows_amd64/golang.org/x/tools/go/buildutil.a
pkg/windows_amd64/golang.org/x/tools/go/callgraph.a
pkg/windows_amd64/golang.org/x/tools/go/gcexportdata.a
pkg/windows_amd64/golang.org/x/tools/go/loader.a
pkg/windows_amd64/golang.org/x/tools/go/packages.a
pkg/windows_amd64/golang.org/x/tools/go/pointer.a
pkg/windows_amd64/golang.org/x/tools/go/ssa.a
pkg/windows_amd64/golang.org/x/tools/go/ast/astutil.a
pkg/windows_amd64/golang.org/x/tools/go/callgraph/static.a
pkg/windows_amd64/golang.org/x/tools/go/internal/cgo.a
pkg/windows_amd64/golang.org/x/tools/go/internal/gcimporter.a
pkg/windows_amd64/golang.org/x/tools/go/internal/packagesdriver.a
pkg/windows_amd64/golang.org/x/tools/go/ssa/ssautil.a
pkg/windows_amd64/golang.org/x/tools/go/types/typeutil.a
pkg/windows_amd64/golang.org/x/tools/internal/fastwalk.a
pkg/windows_amd64/golang.org/x/tools/internal/gopathwalk.a
pkg/windows_amd64/golang.org/x/tools/internal/imports.a
pkg/windows_amd64/golang.org/x/tools/internal/module.a
pkg/windows_amd64/golang.org/x/tools/internal/semver.a
pkg/windows_amd64/golang.org/x/tools/refactor/importgraph.a
pkg/windows_amd64/golang.org/x/tools/refactor/rename.a
pkg/windows_amd64/golang.org/x/tools/refactor/satisfy.a
src/github.com/
src/golang.org/